@charset "UTF-8";
/*スマホサイズ*/

@media screen and (max-width: 481px){
    body{
        background-color: #000000;
        
    }
    
    
    h1{ font-family:Arial, Helvetica, sans-serif;
        margin: 3vw;
        width:40vw;
        font-size:7vw;
        color: #fff;
    
    }
    
    textarea{
        font-family: 'Zen Kaku Gothic New', sans-serif;
        text-align: justify;
        width: 93vw;
        margin: 3vw;
        margin-top: 0vw;
        padding: 4vw;
        font-size:4.5vw;
        font-weight: 500;
        background-color: #000000;
        border: 2.5px solid #fff;
        border-radius: 2vw;
        color: #fff;
    
    }
    
    #draw{
        font-family: 'Zen Kaku Gothic New', sans-serif;
        text-align: center;
        width: 52.5vw;
        height: 12.5vw;
        padding: 3vw 3vw;
        margin-left: 3vw;
        margin-bottom: 3vw;
        font-size:4.2vw;
        font-weight: 500;
        background-color:#fff;
        color: #000000;
        border-radius: 50vw;
        border: solid #fff;
        color: #000000;
        background-color:#fff;
        border-radius: 50vw;
        border: solid #fff;
        
    }
    #draw:hover{
        color: #fff;
        background-color:#000000;
        border-radius: 50vw;
        border: solid #fff;
        
    }
    
    #relord{
        width: 12.5vw;
        height: 12.5vw;
        padding: 3vw 3vw;
        margin-left: 1vw;
        margin-top: 0;
        margin-bottom: 0;
        font-size:5vw;
        font-weight: 400;
        background-color:#000000;
        background: url("/static/img/reload.svg") no-repeat;
        background-size: 45%;
        border-radius: 50%;
        background-position: 50%;
        border: 2.5px solid #fff;
        
    }
    #relord:hover{
        background: url("/static/img/reloadB.svg") no-repeat;
        background-size: 45%;
        background-position: 50%;
        background-color: #fff;
        border-radius: 50%;
        border: 2.5px solid #fff;
    }
    
    #textView{
        width: 12.5vw;
        height: 12.5vw;
        padding: 3vw 3vw;
        margin-left: 1vw;
        margin-top: 0;
        margin-bottom: 0;
        font-size:5vw;
        background-color:#000000;
        background: url("/static/img/text2.svg") no-repeat;
        background-size: 70%;
        border-radius: 50%;
        background-position: 50%;
        border: 2.5px solid #fff;
        
    }
    
    #textView:hover{
        background: url("/static/img/textB.svg") no-repeat;
        background-size: 70%;
        background-position: 50%;
        background-color: #fff;
        border-radius: 50%;
        border: 2.5px solid #fff;
    }
    
    #save{
        width: 12.5vw;
        height: 12.5vw;
        padding: 3vw 3vw;
        margin-left: 1vw;
        margin-top: 0;
        margin-bottom: 0;
        font-size:5vw;
        background-color:#000000;
        background: url("/static/img/save.svg") no-repeat;
        background-size: 45%;
        border-radius: 50%;
        background-position: 50%;
        border: 2.5px solid #fff;
        }
    #save:hover{
        background: url("/static/img/saveB.svg") no-repeat;
        background-size: 45%;
        background-position: 50%;
        background-color: #fff;
        border-radius: 50%;
        border: 2.5px solid #fff;
        }
    
    div.button1{
        display: flex;
        justify-content: left;
        }
    #center_body{
        position: fixed;
        top:0; 
        z-index: 2;
    }
    #container1{

        margin-top: 50vw;
        position:relative;
        overflow-x: scroll;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        
        z-index: 1;
    }
    #container1::-webkit-scrollbar{
        display: none;
      }
    
}
/*PCサイズ*/
@media screen and (min-width: 481px){
    
    body{
        background-color: #000000;
        
    }
    
    
    h1{ 
        font-family:Arial, Helvetica, sans-serif;
        width:10vw;
        margin:1.2vw;
        font-size:2vw;
        color: #fff;
    
    }
   
    #center_body{
        position: fixed;
        top:0; 
        z-index: 2;
    }
    #container1{

        margin-top:15vw;
        position:relative;
        overflow: scroll;
        
        -ms-overflow-style: none;
        scrollbar-width: none;
        
        z-index: 1;
    }
    #container1::-webkit-scrollbar{
        display: none;
      }
    

    textarea{
        font-family: 'Zen Kaku Gothic New', sans-serif;
        text-align: justify;
        width: 25vw;
        margin: 1.2vw;
        margin-top: 0;
        margin-bottom: 1.2vw;
        padding: 1vw;
        font-size:1vw;
        font-weight: 500;
        background-color: #000000;
        border: 2.5px solid #fff;
        border-radius: 0.75vw;
        color: #fff;
    
    }
    
    #draw{
        font-family: 'Zen Kaku Gothic New', sans-serif;
        text-align: center;
        width: 14.5vw;
        height: 3vw;
        
        margin-left: 1.2vw;
        margin-bottom: 3vw;
        margin-right: 0.3vw;
        font-size:1vw;
        text-align: center;
        font-weight: 500;
        color: #000000;
        background-color: #fff;
        border-radius: 50vw;
        border: solid #fff;
        
    }
    #draw:active{
        color: #fff;
        background-color:#000000;
        border-radius: 50vw;
        border: solid #fff;
        
    }
    
    #relord{
        width: 3vw;
        height: 3vw;
        margin-left: 0.3vw;
        margin-top: 0;
        margin-bottom: 0;
        font-size:5vw;
        font-weight: 400;
        background: url("/static/img/reload.svg") no-repeat;
        background-size: 45%;
        background-position: 50%;
        background-color: #000000;
        border-radius: 50%;
        border: 2.5px solid #fff;
    }
    #relord:active{
        background: url("/static/img/reloadB.svg") no-repeat;
        background-size: 45%;
        background-position: 50%;
        background-color: #fff;
        border-radius: 50%;
        border: 2.5px solid #fff;
    }
    #textView{
        width: 3vw;
        height: 3vw;
        margin-left: 0.3vw;
        margin-top: 0;
        margin-bottom: 0;
        font-size:5vw;
        background: url("/static/img/text2.svg") no-repeat;
        background-size: 70%;
        background-position: 50%;
        background-color: #000000;
        border-radius: 50%;
        border: 2.5px solid #fff;
    }
    #textView:active{
        background: url("/static/img/textB.svg") no-repeat;
        background-size: 70%;
        background-position: 50%;
        background-color: #fff;
        border-radius: 50%;
        border: 2.5px solid #fff;
    }
    #save{
    width: 3vw;
    height: 3vw;
    margin-left: 0.3vw;
    margin-top: 0;
    margin-bottom: 0;
    font-size:5vw;
    background: url("/static/img/save.svg") no-repeat;
    background-size: 50%;
    background-position: 50%;
    background-color: #000000;
    border-radius: 50%;
    border: 2.5px solid #fff;
}
#save:active{
    background: url("/static/img/saveB.svg") no-repeat;
    background-size: 45%;
    background-position: 50%;
    background-color: #fff;
    border-radius: 50%;
    border: 2.5px solid #fff;
 }
   
    
    div.button1{
        display: flex;
        justify-content: left;
        }
 }
