@charset "UTF-8";

body{
    background-color: #000000;
}


h1{ font-family: Arial, Helvetica, sans-serif;
    margin-left: 3vw;
    font-size:7vw;
    color: #fff;

}

textarea{
    margin-left: 3vw;
    text-align: justify;
    width: 84%;
    margin: 3vw;
    padding: 4vw;
    font-size:4.5vw;
    background-color: #000000;
    border: 2.5px solid #fff;
    border-radius: 2vw;
    color: #fff;

}

button{
    width: 55vw;
    height: 13vw;
    padding: 3vw 3vw;
    margin-left: 3vw;
    margin-bottom: 3vw;
    font-size:4.5vw;
    background-color: #fff;
    border-radius: 50vw;
    border: solid #fff;
    
}

#karitori{
    width: 13vw;
    height: 13vw;
    padding: 3vw 3vw;
    margin-left: 3vw;
    margin-top: 0;
    margin-bottom: 0;
    font-size:5vw;
    background: url("/static/img/delete.svg") no-repeat;
    background-size: 45%;
    background-position: 50%;
    background-color: #000000;
    border-radius: 50%;
    border: 2.5px solid #fff;
}
#tumitori{
    width: 13vw;
    height: 13vw;
    padding: 3vw 3vw;
    margin-left: 3vw;
    margin-top: 0;
    margin-bottom: 0;
    font-size:5vw;
    background: url("/static/img/text.svg") no-repeat;
    background-size: 45%;
    background-position: 50%;
    background-color: #000000;
    border-radius: 50%;
    border: 2.5px solid #fff;
}



div.button1{
    display: flex;
    justify-content: left;
    }