<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ことのはな</title>
        <link rel = "stylesheet" type="text/css" href="/static/css/style.css">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        

    </head>
    <body>
        <div id="center_body">
            <h1>KOTONOHANA</h1>
            <div id="all_word"></div>
            <div id="user_input_box">
                    <textarea id="w_box" type="text" name="w_box" placeholder="咲かせたい文章を入力" maxlength="50" required></textarea>
                    <div class="button1">
                        <button id="button">ことのはなを咲かせる</button>
                        <script>function karitori(){location.reload()}</script>
                        <input id="karitori" type="button" onclick="karitori()">
                        
                        <button id="tumitori" type="button"></button>
                        <script>function karitori(){location.reload()}</script>

                    </div>
                   
             </div>

        <div id="answer">
            <div id="container1">

            </div>
        </div>
        </div>
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
    
    </body>
</html>